/* body{
  background: #202020;
  color: white;
} */

.task-table-container {
  padding: 20px;
  overflow-x: auto;
}

.task-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.task-table th, .task-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.task-table th {
  background-color: #f2f2f2;
}

.task-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.task-table tr:hover {
  background-color: #f1f1f1;
}
/* index.css */
.navbar {
  background-color: #2563eb; /* azul intenso */
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.navbar-button {
  background-color: white;
  color: #2563eb;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.2s, color 0.2s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-button:hover {
  background-color: #f1f5f9;
  color: #1d4ed8;
}
.form-container {
  max-width: 600px;
  margin: 2rem auto;
  background-color: #f9f9f9;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
}

.task-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.task-form input[type="text"],
.task-form textarea,
.task-form input[type="datetime-local"],
.task-form select {
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  width: 100%;
}

.task-form span {
  color: red;
  font-size: 0.9rem;
}

.task-form button {
  padding: 0.8rem;
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.task-form button:hover {
  background-color: #4D4D4D;
}

button[type="button"] {
  padding: 0.6rem;
  background-color: #e53935;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
}

button[type="button"]:hover {
  background-color: #c62828;
}

